.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b132b;
    padding: 20px;
}

#heading {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 70px 0px 30px 0px;
    font-family: monospace;
    color: white;
    font-size: 50px;
}
@media (min-width:481px) and (max-width:1200px){
    #heading{
        font-size: 33px;
    }
}
