body{
    margin: 0;
    padding: 0;
    background-color: #0b132b;
}
html {
    scroll-behavior: smooth;
}
  

/* Navigation Bar Container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    box-sizing: border-box;
}

/* Logo Styling */
.logo {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 60px;
}

/* Navigation Links Styling */
.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none; 
    margin: 0; 
    padding: 0; 
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    transition: color 0.3s ease; 
}


.nav-links li a:hover {
    color: #2196f3; 
}

#resume{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #0b132b;
    border: 2px solid #2196f3;
}


/*  About Me Css*/

.container{
    display: grid;
    height: 678px;
    grid-template-columns: 1fr 1fr 1.5fr;
    grid-template-rows: 1fr 1fr;
}

#about{
    height: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start; 
    padding: 1rem; 
    grid-column: span 2;
    color: whitesmoke;
    padding-left: 95px;
}
#about h1{
    font-family:'Courier New', Courier, monospace;
    font-size: 55px;
    font-weight: bolder;
    margin-bottom: 0px;
}
#about h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
    margin-top: 0px;
    color: #2196f3;
}
#about p{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    margin-top: 0px;
}
#cont{
    height: 45px;
    width: 130px;
    margin-right: 10px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #2196f3;
    background-color:#2196f3;
    color:#0b132b;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    transition: opacity 0.3s ease;
}
#hire{
    height: 45px;
    width: 130px;
    margin-left: 30px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #2196f3;
    background-color: #0b132b;
    color:#2196f3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: bolder;
    transition: background-color 0.5s ease;
}
#cont:hover{
    opacity: 0.8;
}
#hire:hover{
    background-color:#2196f3;
    color:#0b132b;
}


#social-c{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    grid-column: span 2;
    order: 1;
    margin: 40px 0px 0px 100px;
}

.media {
    display: flex; 
    align-items: flex-start;
    gap: 2rem; 
    list-style: none;
    padding: 0; 
    margin: 0; 
    
}
.media li a img{
    filter: brightness(100);
}


#my-image{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 2;
}
#abhinav-img{
       height: 650px; 
}
#my-image img{
    animation: move 3s infinite;
}
@keyframes move {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(0);
    }
  }


  /* Responsiveness for tablet*/
  @media (min-width:481px) and (max-width:1200px){
    #abhinav-img{
        height: 350px;
        padding-left: 20px;
    }
    #about h1{
        font-size: 30px;
    }
    #about h2{
        margin-top: 10px;
        font-size: 20px;
    }
    #about p{
        font-size: 18px;
    }
    .logo{
        font-size: 25px;
        margin-right: 20px;
    }
    .nav-links{
        font-size: 20px;
        margin: 20px 0px 0px 30px;
        flex-direction: row;
    }
  }